{{>navbar}}


<nav class="navbar navbar-dark navbar-expand-sm bg-primary fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="/"> <strong>THE MESSENGER</strong></a>

        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mr-2"><a class="nav-link" href="/">Home</a></li>

                <li class="nav-item  mr-2"><a class="nav-link" href="/login">Login</a></li>

                <li class="nav-item  mr-2"><a class="nav-link" href="/register">Register</a></li>

                <li class="nav-item  mr-2"><a class="nav-link" href="/{{link}}">{{link}}</a></li>
            </ul>

        </div>

    </div>
</nav>

<div class="container flex justify-between items-center">

    <div class="row main-div">
        <div class="col-12 col-md-8 mt-5">

            <h1 id="message_link"><a href="/messenger">{{quote}}</a></h1> <br>
            <h2>Hello! Click <a href="/register"> here </a> to register.</h2> <br>

            <h2>Already a user, then <a href="/login"> login here </a> </h2>

        </div>



        <div class="col-12 col-md-4 mt-5">
            <div class="text-center mt-5">

                <strong id="emailHelp" class="form-text text-muted">Enter verification key!</strong>
                <small id="emailHelp" class="form-text text-muted">Only if you are a new user.</small>


                <input type="number" name=" confirm_code" id="confirm_code" pattern="/^-?\d+\.?\d*$/"> <br><br>
                <a href="#" id="link">
                    <button type="button" onclick=" validateForm({{rand_num}})" class="btn"
                        style="background-color:navy; color:white">SUBMIT</button>
                </a>

                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function validateForm(rand_num) {
        var x = document.getElementById("confirm_code").value;

        if (x == rand_num) {
            document.getElementById("link").href = "/messenger";
        }
        else {
            alert("Enter a corret validation key!")
        }
        x.innerhtml = "";
    };
</script>



{{>footer}}